{{ define "main" }}

<div class="site-description">
  {{- if isset .Site.Params "subtitle" -}}
  <p class="site-description">{{ .Site.Params.Subtitle | markdownify }}</p>
  {{- end -}}
</div>

<!-- {{ if isset .Data "Term" }}
<h2>{{ .Data.Term }}</h2>
{{ else }}
<h2 class="page-title">{{ .Title }}</h2>
{{ end }} -->
<!-- 无需指示 目前的section位置 -->

  <main class="list">
    {{ $paginator := $.Paginator .Site.Params.paginate }}
    {{ $grouped := $paginator.Pages.GroupByDate "2006" }}
    {{ range $grouped }}
      <h1 class="year-heading">{{ .Key }}</h2>
      {{ range .Pages }}
        <section>
          <a class="list-item" href="{{ .RelPermalink }}">{{ .Title }}</a>
          <span class="meta">
            {{ dateFormat "Jan 2, 2006" .Date }}
            {{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}
          </span>
        </section>
      {{ end }}
    {{ end }}
    
    {{ partial "paginator.html" . }}
  </main>
<!-- POST 之类的渲染 -->
  {{ end }}